@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

body {
  font-family: "Poppins", sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
}

.detail-header {
  background-color: #00bcd4;
  justify-content: space-around;
  height: 80px;
}

.detail-header,
.detail-header .nav-menu {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.detail-header>a {
  width: 16%;
}

.detail-header>a>img {
  width: 70%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-header > ul {
  width: 65%;
  justify-content: space-evenly;
  margin-left: -140px;
}

.detail-header ul li {
  list-style: none;
}

.detail-header ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.detail-header>img {
  width: 50px;
  height: 50px;
}

.detail-container {
  width: 100%;
  position: relative;
  top: 120px;
  padding: 0 100px;
}

.detail-inf-tour {
  width: 100%;
  display: flex;
}

.detail-inf-wraper {
  width: 55%;
  padding-right: 60px;
}

.detail-inf {
  border-bottom: 1px solid #333;
}

.detail-inf h1 {
  font-size: 22px;
  padding-bottom: 20px;
}

.detail-inf-all {
  display: flex;
  align-items: center;
}

.detail-inf-all i {
  padding-right: 15px;
  line-height: 50px;
  font-size: 24px;
}

.detail-inf-address i {
  color: #6fabe2;
}

.detail-inf-time i {
  color: #f44336;
}

.detail-inf-cost i {
  color: rgb(255, 188, 57);
}

.detail-trip {
  padding-top: 20px;
  border-bottom: 1px solid #333;
}

.detail-trip h4,
.detail-location h4,
.detail-host h4,
.detail-member h4 {
  font-size: 22px;
  color: #6fabe2;
}

.detail-trip p {
  font-size: 16px;
  padding: 10px 0;
}

.detail-location {
  padding-bottom: 21px;
  border-bottom: 1px solid #333;
}

.detail-location h4,
.detail-host h4,
.detail-member h4 {
  padding-top: 20px;
}

.detail-location input {
  outline: none;
  border: none;
  font-size: 22px;
  padding: 10px 0 0 0;
}

.detail-host-inf {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.detail-host-img {
  width: 170px;
  height: 170px;
  margin-right: 40px;
}

.detail-host-img img {
  width: 100%;
  height: 100%;
}

.detail-host span {
  font-size: 16px;
}

.detail-confirm {
  width: 60%;
}

.detail-confirm-icon {
  display: flex;
  align-items: center;
}

.detail-confirm-icon i {
  padding-right: 10px;
  line-height: 30px;
  font-size: 20px;
  color: #f44336;
}

.add-friend button {
  display: flex; 
  align-items: center; 
  gap: 5px; 
  padding: 14px 20px; 
  border-radius: 10px; 
  border: none; 
  background-color: #6fabe2; 
  color: white; 
  font-weight: 600; 
  margin-top: 20px; 
  cursor: pointer; 
  font-size: 16px;
}

.detail-map {
  width: 45%;
  position: relative;
  z-index: 1;
}

.detail-map iframe {
  width: 100%;
}

.detail-inf-action {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #333;
}

.detail-action button {
  margin: 20px 0 25px 0;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #6fabe2;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.detail-book {
  padding-right: 20px;
}

.detail-member {
  height: 290px;
  overflow-y: scroll;
}

.detail-member-wraper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.detail-member-img {
  width: 50px;
  height: 50px;
  margin-right: 40px;
}

.detail-member-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.detail-member-name {
  width: 50%;
}

/* ------- related tours ---------- */
.find-tours {
  margin: 80px 0 20px 0;
  width: 100%;
}

.find-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 40px;
}

.find-heading h1 {
  font-size: 28px;
}

.popular-heading-icon {
  font-size: 25px;
  cursor: pointer;
}

.find-container-wraper {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-wrap: wrap;
}

.find-container {
  border: 1px solid #333;
  width: 28%;
  padding: 20px;
  border-radius: 10px;
  margin: 0 10px;
}

.find-container-top {
  width: 100%;
}

.find-container-top img {
  width: 100%;
  border-radius: 10px;
}

.find-container-bottom {
  line-height: 30px;
}

.find-bottom-address,
.find-bottom-time {
  display: flex;
}

.find-bottom-icon i {
  padding-right: 10px;
}

.slick-prev,
.slick-next {
  display: none !important;
}

/* ------------- footer --------- */
.footer {
  background-color: #1b1b1b;
  position: relative;
  margin-top: 200px;
  padding-bottom: 100px;
}

.wrap-footer {
  padding: 60px 100px;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 15px;
}

.footer-list {
  list-style: none;
}

.footer-list li a {
  color: rgba(142, 144, 145, 1);
  text-decoration: none;
  line-height: 2;
  font-size: 14px;
  font-weight: 500;
}

.footer-list li a:hover {
  text-decoration: underline;
  color: white;
}

.footer-list-connect {
  display: flex;
  align-items: center;
}

.footer-list-icon {
  font-size: 18px;
  padding-right: 12px;
}

.custom-shape-divider-bottom-1679667216 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1679667216 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 133px;
}

.custom-shape-divider-bottom-1679667216 .shape-fill {
  fill: #2F4E84;
}



/* ------------login------------- */
.header-form {
  display: none;
}

.header-nav-icon {
  display: flex;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 50px;
  margin-left: 20px;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.user-icon {
  margin-right: 10px;
}

.header-nav-form {
  position: relative;
}

.header-nav-form::after {
  content: "";
  position: absolute;
  height: 20px;
  width: calc(100% + 30px);
  background-color: transparent;
  top: 98%;
  left: 0;
}

.header-form-login {
  position: absolute;
  width: 216px;
  background-color: #fff;
  padding: 20px 0;
  margin-top: 16px;
  left: -50px;
  border-radius: 10px;
  line-height: 26px;
  box-shadow: 2px 4px 20px #0003;
}

.header-form-login::before {
  width: 30px;
  height: 30px;
  background-color: rgba(221, 221, 221, 1);
  content: "";
  display: block;
  position: absolute;
  top: -6px;
  left: 96px;
  transform: rotate(45deg);
  z-index: -1;
}

.header-form-login > ul > li > a {
  font-weight: normal;
  line-height: 10px;
  color: #333;
  /* display: flex; */
  /* align-items: center; */
  width: 100%;
  height: 100%;
}

.header-form-login ul li {
  margin-left: 0 !important;
  text-indent: 20px;
  height: 40px;
}

.header-form-login ul li:hover {
  background-color: #e3e0e077;
}

.header-form-login ul li a:hover {
  color: var(--main-color);
}

/* ----------------logout----------- */

#map {
  width: 100%;
}


.notifications {
  position: fixed;
  z-index: 9999999999999999999;
  top: 90px;
  right: 20px;
}
.notifications :where(.toast, .column) {
  display: flex;
  align-items: center;
}
.notifications .toast {
  width: 400px;
  position: relative;
  overflow: hidden;
  list-style: none;
  border-radius: 4px;
  padding: 16px 17px;
  margin-bottom: 10px;
  background: var(--light);
  justify-content: space-between;
  animation: show_toast 0.3s ease forwards;
}
@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}
.notifications .toast.hide {
  animation: hide_toast 0.3s ease forwards;
}
@keyframes hide_toast {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(calc(100% + 20px));
  }
}
.toast::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  animation: progress 5s linear forwards;
}
@keyframes progress {
  100% {
    width: 0%;
  }
}
.toast.success::before, .btn#success {
  background: var(--success);
}
.toast.error::before, .btn#error {
  background: var(--error);
}
.toast.warning::before, .btn#warning {
  background: var(--warning);
}
.toast.info::before, .btn#info {
  background: var(--info);
}
.toast .column i {
  font-size: 1.75rem;
}
.toast.success .column i {
  color: var(--success);
}
.toast.error .column i {
  color: var(--error);
}
.toast.warning .column i {
  color: var(--warning);
}
.toast.info .column i {
  color: var(--info);
}
.toast .column span {
  font-size: 1.07rem;
  margin-left: 12px;
}
.toast i:last-child {
  color: #aeb0d7;
  cursor: pointer;
}
.toast i:last-child:hover {
  color: var(--dark);
}
.buttons .btn {
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 5px;
  color: var(--light);
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 4px;
}
@media screen and (max-width: 530px) {
  .notifications {
    width: 95%;
  }
  .notifications .toast {
    width: 100%;
    font-size: 1rem;
    margin-left: 20px;
  }
  .buttons .btn {
    margin: 0 1px;
    font-size: 1.1rem;
    padding: 8px 15px;
  }
}


/* --------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --dark: #34495E;
  --light: #ffffff;
  --success: #0ABF30;
  --error: #E24D4C;
  --warning: #E9BD0C;
  --info: #3498DB;
}

.buttons{
  position: fixed;
  display: none;
}

.notifications {
  position: fixed;
  z-index: 9999999999999999999;
  top: 90px;
  right: 20px;
}
.notifications :where(.toast, .column) {
  display: flex;
  align-items: center;
}
.notifications .toast {
  width: 400px;
  position: relative;
  overflow: hidden;
  list-style: none;
  border-radius: 4px;
  padding: 16px 17px;
  margin-bottom: 10px;
  background: var(--light);
  justify-content: space-between;
  animation: show_toast 0.3s ease forwards;
}
@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}
.notifications .toast.hide {
  animation: hide_toast 0.3s ease forwards;
}
@keyframes hide_toast {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(calc(100% + 20px));
  }
}
.toast::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  animation: progress 5s linear forwards;
}
@keyframes progress {
  100% {
    width: 0%;
  }
}
.toast.success::before, .btn#success {
  background: var(--success);
}
.toast.error::before, .btn#error {
  background: var(--error);
}
.toast.warning::before, .btn#warning {
  background: var(--warning);
}
.toast.info::before, .btn#info {
  background: var(--info);
}
.toast .column i {
  font-size: 1.75rem;
}
.toast.success .column i {
  color: var(--success);
}
.toast.error .column i {
  color: var(--error);
}
.toast.warning .column i {
  color: var(--warning);
}
.toast.info .column i {
  color: var(--info);
}
.toast .column span {
  font-size: 1.07rem;
  margin-left: 12px;
}
.toast i:last-child {
  color: #aeb0d7;
  cursor: pointer;
}
.toast i:last-child:hover {
  color: var(--dark);
}
.buttons .btn {
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 5px;
  color: var(--light);
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 4px;
}
@media screen and (max-width: 530px) {
  .notifications {
    width: 95%;
  }
  .notifications .toast {
    width: 100%;
    font-size: 1rem;
    margin-left: 20px;
  }
  .buttons .btn {
    margin: 0 1px;
    font-size: 1.1rem;
    padding: 8px 15px;
  }
}