@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr: #29205c;
  --dark: #34495E;
  --light: #ffffff;
  --success: #0ABF30;
  --error: #E24D4C;
  --warning: #E9BD0C;
  --info: #3498DB;
}

body {
  font-family: "Poppins", sans-serif;
}

.main {
  position: relative;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
